Repository hard-tech/Bankys: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

.gitlab-ci.yml:

# Définition des variables globales
variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://docker:2376

# Définition des stages
stages:
  - build
  # - test
  - deploy

# Service Docker-in-Docker nécessaire pour build des images
services:
  - docker:dind

# Configuration par défaut pour tous les jobs
default:
  image: docker:latest
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

# Build Frontend
build_frontend:
  stage: build
  script:
    - docker build -t $CI_REGISTRY/hard-tech/bankys/frontend:$CI_COMMIT_SHA -t $CI_REGISTRY/hard-tech/bankys/frontend:latest -f frontend/Dockerfile .
    - docker push $CI_REGISTRY/hard-tech/bankys/frontend:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY/hard-tech/bankys/frontend:latest
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci.yml

# Build Backend
build_backend:
  stage: build
  script:
    - docker build -t $CI_REGISTRY/hard-tech/bankys/backend:$CI_COMMIT_SHA -t $CI_REGISTRY/hard-tech/bankys/backend:latest -f backend/Dockerfile .
    - docker push $CI_REGISTRY/hard-tech/bankys/backend:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY/hard-tech/bankys/backend:latest
  only:
    changes:
      - backend/**/*
      - .gitlab-ci.yml

# # Tests Frontend
# test_frontend:
#   stage: test
#   image: node:20
#   script:
#     - cd frontend
#     - yarn install
#     - yarn test
#   only:
#     changes:
#       - frontend/**/*

# # Tests Backend
# test_backend:
#   stage: test
#   image: node:20
#   script:
#     - cd backend
#     - yarn install
#     - yarn test
#   only:
#     changes:
#       - backend/**/*

# Déploiement en production
deploy_production:
  stage: deploy
  image: docker/compose:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
  script:
    - docker-compose -f docker-compose.prod.yml pull
    - docker-compose -f docker-compose.prod.yml up -d
  only:
    - main
  environment:
    name: production

feat: mise à jour du Dockerfile backend pour simplifier l'installation des dépendances et modifier la commande de démarrage
  backend/Dockerfile
Due: build_backend

feat: amélioration du Dockerfile backend pour optimiser l'installation des dépendances et mise à jour de la commande de démarrage
  backend/Dockerfile
  backend/requirements.txt
  docker-compose.yml
Due: build_backend

feat: mise à jour des Dockerfiles pour le backend et le frontend afin de simplifier la structure des chemins et améliorer la configuration
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Due: build_frontend, build_backend

feat: mise à jour des Dockerfiles pour le backend et le frontend, amélioration de la gestion des chemins et des variables d'environnement
  backend/Dockerfile
  docker-compose.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/src/services/api.service.ts
  frontend/src/services/api/axios.config.ts
  frontend/src/utils/constants.ts
  push-img.sh
Due: build_frontend, build_backend

feat: mise à jour de la configuration de la base de données et des origines CORS, ajout de la version dans docker-compose
  .DS_Store
  backend/.DS_Store
  backend/app/.DS_Store
  backend/app/database/session.py
  backend/app/main.py
  docker-compose.yml
Due: build_backend

feat: mise à jour de la version dans le script push-img.sh de 0.0.1 à 0.0.2
  push-img.sh
Due: none

feat: mise à jour du script push-img.sh avec un nouveau token d'authentification pour le registre GitLab
  push-img.sh
Due: none

feat: mise à jour du fichier .gitignore pour ignorer le script push-img.sh
  .gitignore
Due: none

feat: mise à jour du fichier .gitlab-ci.yml pour améliorer la construction et le déploiement des images Docker, ajout de la gestion des tags de production, et correction des origines CORS dans main.py
  .gitlab-ci.yml
  backend/app/main.py
Due: build_frontend, build_backend
